// Editor

body .w-tc-editor {
  --btn-gradient: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  --color-prettylights-syntax-entity: #ff6bcb;
  --color-prettylights-syntax-entity-tag: #ff6bcb;
  --color-prettylights-syntax-constant: #20e3b2;
  --color-prettylights-syntax-string: #20e3b2;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #64748b;
  --color-prettylights-syntax-unit: #9a86fd;
  --color-prettylights-syntax-number: #ff6bcb;
  --color-prettylights-syntax-variable: #82aaff;
  --color-prettylights-syntax-attr: #20e3b2;
  --color-prettylights-syntax-attr-value: #eac394;
  --color-prettylights-syntax-property: #2cccff;
  @apply font-normal w-full p-4 text-sm text-white transition-all outline-none bg-slate-900 focus:border-blue-500 resize-none overflow-y-auto leading-loose font-code;
  textarea {
    @apply placeholder:font-primary placeholder:font-medium;
  }

  .code-highlight {
    @apply hidden;
  }
  code[class^="language-"].code-highlight {
    @apply block;
  }
  pre[class^="language-"] {
    .token.attr-name {
      color: var(--color-prettylights-syntax-attr);
    }
    .token.punctuation {
      color: #64748b;
    }
    .token.attr-value {
      color: var(--color-prettylights-syntax-attr-value);
    }
    .token.rule,
    .token.punctuation.attr-equals {
      color: var(--color-prettylights-syntax-entity);
    }
    .token.property {
      color: var(--color-prettylights-syntax-property);
    }
    .token.atrule {
      color: #bd93f9;
    }
  }
  pre[class^="language-css"] {
    color: #9a86fd;
    .token.unit {
      color: var(--color-prettylights-syntax-unit);
    }
    .token.number {
      color: var(--color-prettylights-syntax-number);
    }
    .token.variable {
      color: var(--color-prettylights-syntax-variable);
    }
  }
}
