@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SF mono";
    src: url("/SFMonoLigaturized-Regular.ttf");
  }
  @font-face {
    font-family: "Inter var";
    src: url("/intervar.woff2");
  }
  :root {
    --blue: #2cccff;
    --primary: var(--blue);
    --pink: #f62682;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-900 font-primary  text-white pb-10 font-light mx-auto overflow-x-hidden;
    max-width: 1920px;
  }
  button:disabled {
    @apply cursor-not-allowed opacity-50;
  }
  .scrollbar-style::-webkit-scrollbar,
  .w-tc-editor::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar-style::-webkit-scrollbar-track,
  .w-tc-editor::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track {
    border-radius: 100rem;
  }
  .scrollbar-style::-webkit-scrollbar-thumb,
  .w-tc-editor::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    border-radius: 100rem;
    // background-image: linear-gradient(245deg, #fcb564, #ff65f2);
    @apply bg-slate-600;
  }
}
@layer utilities {
  .bg-gradient-primary {
    background-image: linear-gradient(to right top, #6a5af9, #d66efd);
  }
  .bg-gradient-secondary {
    background-image: linear-gradient(to right top, #fc6c8f, #ffb86c);
  }
  .hidden-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hidden-scroll::-webkit-scrollbar {
    display: none;
  }
}
.table {
  @apply w-full;
  th,
  td {
    @apply p-3 text-left whitespace-nowrap;
  }
  th {
    @apply text-slate-400;
  }
}
.l-container {
  @apply px-5 mx-auto max-w-7xl;
}
.button-effect {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.button-effect:before {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  height: 100%;
  width: 0;
  background-color: white;
  opacity: 0.1;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-effect:hover:before {
  left: auto;
  right: 0;
  width: 100%;
}
.pointer-effect {
  animation: pointer 1s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ReactModal__Body--open {
  overflow: hidden;
}
.wrapper-code {
  @apply overflow-y-auto border rounded-lg border-slate-700;
  max-height: 300px;
}
@keyframes pointer {
  100% {
    transform: scale(0.75);
  }
}
.heart-animate.is-active {
  animation: zoom 0.25s 1 linear;
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@import "editor";
