@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --blue: #2cccff;
    --primary: var(--blue);
    --pink: #f62682;
  }
  body {
    @apply dark:bg-slate-900 font-primary text-slate-900 dark:text-white pb-10 font-light bg-grayf5;
  }
}
@layer utilities {
  .bg-gradient-primary {
    background-image: linear-gradient(245deg, #fcb564, #ff65f2);
  }
  .hidden-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hidden-scroll::-webkit-scrollbar {
    display: none;
  }
}
.table {
  @apply w-full;
  th,
  td {
    @apply p-3 text-left;
  }
  th {
    @apply text-slate-400;
  }
}
.l-container {
  @apply px-5 mx-auto max-w-7xl;
}
@import "editor";
